RPC_URL="https://json-rpc.uno.sentry.testnet.v3.kiivalidator.com"
PRIVATE_KEY="0xYOUR_PRIVATE_KEY"
OWNER_ADDRESS=""
VERIFYING_SIGNER=""
VERIFYING_SIGNER_KEY=""
DEPOSIT_AMOUNT="1"
MIN_DEPOSIT="0.05"
ENTRY_POINT=""
VERIFYING_PAYMASTER=""
ACCOUNT_SALT="0"
